<!DOCTYPE html>
<html>
	<head>
		<title>DashBoard Customer</title>

		<meta charset="utf-8">
		  <meta name="viewport" content="width=device-width, initial-scale=1">

		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
		  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
		  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
		  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

		<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.css">
		<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.js"></script>

		{% load static %}
		<link rel = "stylesheet" type="text/css" href="{% static 'css/Staple.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'css/Home.css' %}">
		<script>
			function showTxt(){
				document.getElementById("txt").innerHTML = "Service code encoded, please choose among our available products.";
			}
		</script>
	</head>

	<body>
			<div class="bg pink">
			<h1 id="intro" class="shadow p-10 mb-10" style="margin-top:125px;">Customer Dashboard</h1><!-- placeimage here -->


		<div class="container-fluid">
		<div class="row">
	
			
		</div>
		</div>

		<!-- The flexible grid (content) -->
		<div class="container-fluid">
		<div class="row">
			
		  <div class="col-lg-12" style="background-color:rgba(255,255,255,0.6);">
		    
		<div align="center">
		<br><br><br><br><br><br>
		<form role="form" action="" method="POST" autocomplete="off" enctype="multipart/form-data">
      	{% csrf_token %}
		<p align="right"><button type="submit" class="button button1" >Add Customer</button></p>
		</form>
				<table id="myTable" class="display table table-light" >
				  <thead>
				    <tr>
				      <th scope="col">Customer ID</th>
				      <th scope="col">Name</th>
				      <th scope="col">Status</th>
				      <th scope="col">Date of Birth</th>
				      <th scope="col">Address City</th>
				      <th scope="col">Action</th>
				    </tr>
				  </thead>
				  <tbody>
				    <tr>
				    	{% for customer in customers %}
				      <th scope="row">{{customer.id}}</th>
				      <td>{{customer.name}}</td>
				      <td>{{customer.status}}</td>
				      <td>{{customer.birthdate}}</td>
				      <td>{{customer.address}}</td>
				      <td>
				       			<a type="button" class="btn btn-mdb-color btn-rounded" href="#" 
				       			data-toggle="modal" data-target="#viewmodal-{{customer.id}}"> View </a>|

				       			<a type="button" class="btn btn-mdb-color btn-rounded" href="#" 
				       			data-toggle="modal" data-target="#deletemodal"> Delete</a>
				       </td>
				    </tr>

					<!-- View modal-->
					<div class="modal fade" id="viewmodal-{{customer.id}}" tabindex="1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden ="false">
						<div class="modal-dialog" role="document">
							<div class="modal-content">
								<div class="modal-header">
									<h5 class="modal-title" id="exampleModalLabel">Viewing Customer Record</h5>
									<button type="button" class="close" data-dismiss="modal" aria-label="Close">
										<span aria-hidden="true">&times;</span>
									</button>	
															
								</div>	
								<div class="modal-body">
									<div class="form-group md-form font-weight-bold ">
			                            <label for="custname" data-error="wrong" data-success="right">Name: </label>
			                            <input id="custname" type="text" class="form-control" 
			                            value="{{customer.name}}">
			                        </div>
			                        <div class="form-group md-form font-weight-bold">
			                            <label for="custstatus" data-error="wrong" data-success="right">Status </label>
			                            <input id="custstatus" type="text" class="form-control" 
			                            value="{{customer.status}}">
			                        </div>
			                        <div class="form-group md-form font-weight-bold">
			                            <label for="custbday" data-error="wrong" data-success="right">Birthdate: </label>
			                            <input id="custbday" type="text" class="form-control" 
			                            value="{{customer.birthdate}}">
			                        </div>
			                        <div class="form-group md-form font-weight-bold">
			                            <label for="custaddres" data-error="wrong" data-success="right">Address: </label>
			                            <input id="custaddres" type="text" class="form-control" 
			                            value="{{customer.address}}">
			                        </div>									
								</div>				
								<div class="modal-footer">
									<form id="activateForm" method="post" action="report/startup/deactivate">
										{% csrf_token %}

										<input type="hidden" id="startup-id">
										<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
										<button type="submit" class="button">Update</button>
									</form>
									
								</div>
							</div>				
						</div>			
					</div >


				    {% endfor %}
				    
				  </tbody>
				</table>
		<br><br><br><br><br><br>
		</div>
			</div>
		</div>

		</div>
		<div class="container-fluid">
		<div class="row">
			
		  <div class="col-lg-12" style="background-color:rgba(255,255,255,0.6);">
		    <h2>Customer Dashboard</h2>
		    
			</div>
		</div>

		</div>
		</div>


		<!-- delete modal-->
		<div class="modal fade" id="deletemodal" tabindex="1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden ="false">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalLabel">Delete Record of Customer?</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>	
												
					</div>	
					<div class="modal-body">
						Are you sure about that?						
					</div>				
					<div class="modal-footer">
						<form id="activateForm" method="post" action="report/startup/deactivate">
							{% csrf_token %}

							<input type="hidden" id="startup-id">
							<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
							<button type="submit" class="button">Yes</button>
						</form>
						
					</div>
				</div>				
			</div>			
		</div >


		<script>
				$(document).ready( function () {
				    $('#myTable').DataTable({
							
				    	});
				} );
		</script>
		



	</body>

</html>
